:host{
  height:100%;
  display: block;
}

.root{
  height:100%;
grid-template-areas: 
"frParent"
"autoParent";
grid-template-rows: minmax(200px, min-content) minmax(100px, auto);;
display:grid;
}

.frParent{
  grid-area: frParent;
  background-color: papayawhip;
  overflow-y: scroll;
}
.autoParent{
  grid-area: autoParent;
  background-color: rgb(29, 95, 156);
  overflow-y: scroll;
}