<div class="root">
<div class="frParent">
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>
  <div>frChild</div>

</div>
<div class="autoParent">
   <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
     <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
     <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
      <div>autoChild</div>
    <div>autoChild</div>
     <div>autoChild</div>
</div>
</div>